# ======================
# Keep ONLY notebooks
# ======================

CNN/*
YOLOv8/*
ML/*

!CNN/*.ipynb
!YOLOv8/*.ipynb
!ML/*.ipynb

# ======================
# Models & data
# ======================

*.h5
*.pt
*.pkl
*.onnx

data/
dataset/
YOLOv8/test
YOLOv8/train
YOLOv8/valid


# ======================
# Python virtual environments
# ======================
venv/
tf_venv/
.env

# ======================
# Python cache
# ======================
__pycache__/
*.pyc

# ======================
# OS
# ======================
.DS_Store
